.section {
  width: 650px;
  margin: 0 auto;
}
.phonebook {
  display: flex;
  justify-content: space-around;
  /* width: 1200px; */
  border-radius: 5px;
  padding: 20px;
  border: 2px solid blanchedalmond;
  cursor: pointer;
}
.title {
  text-align: center;
  color: blanchedalmond;
  font-size: 25px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
}
.titleMain {
  text-align: center;
  color: blanchedalmond;
  font-size: 30px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 7px;
}
ul {
  padding: 0;
  margin: 0;
}

.phonebook:hover {
  box-shadow: 0px 4px 10px 8px rgba(204, 193, 193, 0.75);
  -webkit-box-shadow: 0px 4px 10px 8px rgba(204, 193, 193, 0.75);
  -moz-box-shadow: 0px 4px 10px 8px rgba(204, 193, 193, 0.75);
}
.addBtn {
  display: block;
  border-radius: 5px;
  color: blanchedalmond;
  border: 2px solid blanchedalmond;
  background-color: transparent;
  width: 150px;
  height: 30px;
  align-items: center;
  margin-top: 5px;
  font-size: 15px;
  cursor: pointer;
}
.addBtn:hover {
  box-shadow: 0px 0px 8px 5px rgba(204, 193, 193, 0.75);
  -webkit-box-shadow: 0px 0px 8px 5px rgba(204, 193, 193, 0.75);
  -moz-box-shadow: 0px 0px 8px 5px rgba(204, 193, 193, 0.75);
}
.btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  border-radius: 5px;
  background-color: transparent;
  color: blanchedalmond;
  border: 2px solid blanchedalmond;
}
